<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Abaci.WPFApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Abaci.WPFApp.Properties.Settings>
            <setting name="LastFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </Abaci.WPFApp.Properties.Settings>
    </userSettings>
</configuration>